 * {
     position: relative;
     box-sizing: border-box;
     
 }

/* .iframely-embed {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 50;
     background: white;
 }
*/
 #app {
     z-index: 100;
 }

 /*#app:hover {
    
 }
*/
 #app {
     display: grid;
     grid-template-columns: 2fr;
     align-items: center;
     padding-bottom: 1vmin;
     max-height: 90vh;
     width: 100%;
    /* background-image: url("../assets/MessinadallaltoVideodiAndreaPeri.mp4");*/
     background-position: 150%;
     background-size: cover;;
     color: #fec36c;
     padding: 100px 0;
     animation: image-in 0.5s cubic-bezier(0.5, 0, 0.1, 1) 0s backwards;

     
 }

 body {
     
     padding: 1vmin;
     background: #3a0f1c;

 }

 .title {
     padding-left: 1em;
     grid-column: -1;
     grid-row: 1;
     font-family: 'Palanquin', sans-serif;
     font-size: 6vw;
     width: 100%;
     z-index: 2;
     -webkit-text-stroke: 1px #6c3600;
    
 }

 .title>.title-inner {
     display: inline-block;
     
 }

 @keyframes text-clip {
     from {
         clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
     }

     to {
         clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
     }
 }

 @keyframes outer-left {
     from {
         transform: translateX(100%);
     }

     to {
         transform: none;
     }
 }

 @keyframes inner-left {
     from {
         transform: translateX(-50%);
     }

     to {
         transform: none;
     }
 }

 .cafe,
 .mozart {
    text-shadow: 50px 50px 32px 0 #341701;
     animation: outer-left 2s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
 }

 .title-inner {
     display: inline-block;
     animation: inner-left 2s 0s ease both;
 }

 .cafe-inner {
     display: inline-block;
     animation: inner-left 2s 0s ease both, text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
 }

 .mozart-inner {
     animation: text-clip 2s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
 }

 .title {
     animation: outer-left 2s 0s ease both;
 }

 .cafe>.cafe-inner {
     display: inline-block;
 }

 .mozart {
     display: inline-block;
 }

 .image {
     height: auto;
     display: flex;
     
     flex-wrap: wrap;
     margin: 0;
     padding-bottom: 1rem;
     opacity: 0.9;
     animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 0s backwards;
 }

 @keyframes image-in {
     from {
         clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
         transform: scale(1);
     }

     to {
         clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
         transform: scale(1.2);
     }
 }

 .image img {
     display: block;
     max-width: 100%;
     max-height: auto;
 }



/* TEXT ANIMATION HOME */


.p-text-animated {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-content: center;
    border: 4px double rgba(255, 255, 255, .25);
    border-width: 6px 0;
    padding: 1.5em 0em;
    max-width: 40em;
    /*change setting for position*/
}

.p-span-text-animated {
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    letter-spacing: 0px;
    padding: 0.15em 0 0.125em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 181, 134, 0.5);
    /* Clip Background Image */
    background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    animation: aitf 80s linear infinite;
    /* Activate hardware acceleration for smoother animations */
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
}

@media screen and (max-width: 600px) {
    .p-text-animated {
        max-width: 10em;
    };

    .p-span-text-animated{
        font-size: 40px;
    }
}

/* Animate Background Image */
@keyframes aitf {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.img-sizing{
    max-width: 100%;
}

.font-recip{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    text-transform: none;
    letter-spacing: 1px;
    width: 100%;
}

.video-settings{
    margin: auto;
    transform: scale(0.5);
}

@media screen and (max-width: 600px) {
    .video-settings {

        transform: scale(0.5);
    }
    .carousel-img {
        max-width: auto;
        max-height: auto;
    }
}

@media screen and (max-width: 900px) {
    .video-settings {

        transform: scale(0.5);
    }
    .carousel-img {
        max-width: auto;
        max-height: auto;
    }

}

@media screen and (max-width: 1200px) {
    .video-settings {
        transform: scale(1);
    }
    .carousel-img {
        max-width: auto;
        max-height: auto;
    }
}

@media screen and (min-width: 1400px) {
    .video-settings {
        transform: scale(1);
    }
    .carousel-img {
        max-width: auto;
        max-height: auto;
    }
}

.carousel-img{
    margin: auto;
    max-width: 1400px;
    max-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-font-home {
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
    font-family: 'Palanquin', sans-serif;
    color: #ffd453;
    transition: 1s ease-in 0s;
}

.my-font-home:hover{
    letter-spacing: 1.5px;
    transition: 1s;
}


/* BORDER CUSTOMIZED FOR VIDEO (next implementation)

 .box {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate3d(-50%, -50%, 0);
     background-color: rgba(0, 0, 0, 0.5);
     width: 100%;
     max-width: 600px;
     padding: 5px;
     border: 2px solid #b78846;
 }

 .box:before,
 .box:after {
     content: "•";
     position: absolute;
     width: 14px;
     height: 14px;
     font-size: 14px;
     color: #b78846;
     border: 2px solid #b78846;
     line-height: 12px;
     top: 5px;
     text-align: center;
 }

 .box:before {
     left: 5px;
 }

 .box:after {
     right: 5px;
 }

 .box .box-inner {
     position: relative;
     border: 2px solid #b78846;
     padding: 40px;
 }

 .box .box-inner:before,
 .box .box-inner:after {
     content: "•";
     position: absolute;
     width: 14px;
     height: 14px;
     font-size: 14px;
     color: #b78846;
     border: 2px solid #b78846;
     line-height: 12px;
     bottom: -2px;
     text-align: center;
 }

 .box .box-inner:before {
     left: -2px;
 }

 .box .box-inner:after {
     right: -2px;
 } 
*/