.myfont{
    font-family: 'Palanquin', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #ffd453;
    animation: 1s ease-in 1s infinite
}

.myfont:hover{
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 1.5;
    color: #da9b23;
    animation: 1s
}

.myfont2 {
    font-family: 'Palanquin', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #fca849;
}

.myfont2:hover {
    font-weight: 700;
    color: #da6623;
    letter-spacing: 1.5;
    animation: 1s
}

.myfont3 {
    font-family: 'Palanquin', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #fca849;
}

.myfont3:hover {
    font-weight: 700;
    color: #d05d1a;
}

.offCanv{
    background-color: #480b0b;
}