.nav-on-scroll{
    position : fixed;
    top: 0;
    width: 98%;
}

.myfont{
    font-size: 36px;
    font-weight: 400;
    color: #ffd453;
    animation: 1s ease-in 0s;
}

.myfont:hover{
    font-weight: 700;
    letter-spacing: 2.5;
    color: #da9b23;
}

.myfont2 {
    font-size: 24px;
    font-weight: 400;
    color: #fca849;
}

.myfont2:hover {
    font-weight: 700;
    color: #da6623;
    letter-spacing: 1.5;
    animation: 1s
}

.myfont3 {
    font-size: 36px;
    font-weight: 400;
    color: #fca849;
    
}

.myfont3:hover {
    font-weight: 700;
    color: #d05d1a;
}

.offCanv{
    background-color: #833b3b;
}

 @keyframes image-in {
     from {
         clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
     }

     to {
         clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
     }
 }

img {
    animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s;
}

